.notification {
  color: #fff;
  background-color: #4caf50;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.success {
  color: #fff;
  background-color: #4caf50;
}

.error {
  color: #fff;
  background-color: #f44336;
}
